*{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

body{
    width:100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::selection{
    background-color:  darkblue;
    color:white;

}

.navbar{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background-color: white;
    z-index: 9;
   
}

.logo{
    max-width: 150px;
    max-height: 70px;
    width:100%
}
.links-container{
    display: flex;
    list-style: none;

}
.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

.header{
    margin-top: 0px;
    width: 100%;
    height: calc(50vh - 80px);
    background: url(../Img/homeimg.jpg) no-repeat center -325px fixed;
    background-color: rgba(19, 18, 18, 0.637);
    background-blend-mode: multiply;
    overflow: hidden;
    opacity: 0.85;
    background-repeat: none;
    background-size: 150%;
    justify-content:centre;
    align-items: center;
    display: flex;
    line-height: 8vw;
    font-size: 3.5vw;
    color:  white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.top-line{
   margin-right: 15vw;
   margin-top: 7vh;
}

.bottom-line{
    margin-left: 23vw;
}
/**
hr{
    display: block;
    padding-top: 0vh;
    margin-top: 0vh;
    margin-bottom: 5vh;
    border-width:5px;
  
}
**/

.blog-title {
    margin: 100px;
    text-align: center;
    max-width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    position:relative;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 4vw;
   

}
/**
.blog-title:hover{
    color: darkblue;
    position:relative;
    text-decoration: none;
}
**/

.blog-title::before{
    content:"";
    display: block;
    width: 37vw;
    height:2.5px;
    position: absolute;
    background: #000;
    left: -105px;
    top: 50%;

}
.blog-title::after{
    content:"";
    display: block;
    width: 37vw;
    height:2.5px;
    position: absolute;
    background: #000;
    Right: -105px;
    top: 50%;

}

/**
blog code **/

.blog-card{
    margin-top: -80px;
    margin-left: 45vw;
    max-width: 600em;
}

.blog-card2{
    margin-top: 0px;
    margin-left: 45vw;
    max-width: 600em;
}
.blog-card3{
    margin-top: 40px;
    margin-left:45vw;
    max-width: 600em;
}
.hr{
    content:"";
    display: block;
    margin:auto;
    margin-top: 50px;
    padding-top: 20px;
    width: 990px;
    height:1.5px;
    background: #000;
    top: 100%;

}
